{% extends "maykin_2fa/login.html" %}
{% load solo_tags i18n %}


{% block footer %}
    <div id="footer"></div>
{% endblock %}


{% block extra_login_options %}
    {% get_solo 'mozilla_django_oidc_db.OpenIDConnectConfig' as oidc_config %}
    {% if oidc_config.enabled %}
        <div class="admin-login-option">{% trans "or" %}</div>
        <div class="admin-login-option">
            <a href="{% url 'oidc_authentication_init' %}">{% trans "Login with organization account" %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block extra_recovery_options %}
<li>
    <a href="URL_TO_TICKET_OR_SUPPORT_SYSTEM">
        {% trans 'Contact support' %}
    </a>
</li>
{% endblock extra_recovery_options %}
