.button {
  display: flex;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: 0.2rem;
  min-inline-size: 100px;

  color: var(--button-color);
  background-color: var(--button-background-color);
  text-decoration: none;

  &:has(.fas) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
  }

  &:hover {
    background-color: var(--button-hover-background-color);
  }

  &#{&}--alert {
    background-color: var(--button-alert-background-color);

    &:hover {
      background-color: var(--button-alert-hover-background-color);
    }
  }
}
