.footer {
  padding-block: 3rem;
  border-top: 1px solid var(--footer-border-color);

  box-sizing: border-box;
  inline-size: clamp(20%, 100%, 960px);
  padding-inline: 15px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__row {
    display: grid;
    column-gap: 15px;

    &#{&}--2-cols {
      grid-template-columns: repeat(2, 1fr);
    }

    &#{&}--3-cols {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__column-header {
    margin-block-start: 0;
    margin-block-end: 1rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
  }

  &__plain-content {
    margin-block: 0;
    padding-block: 0;
    padding-inline: 0;

    &#{&}--small {
      font-size: 80%;
    }
  }

  &__list {
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
  }
}
