.link {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
  }

  &#{&}--muted {
    --link-color: var(--link-color-muted);
    --link-color-hover: var(--link-color-muted);
  }
}
