.list {
  margin: 0;
  padding: 0;

  // requires a parent with flex/grid display (!)
  &#{&}--centered {
    text-align: start;
    display: block;
    align-self: center;
    max-inline-size: 75%;
  }
}
