.page-title {
  text-align: center;

  & &__title {
    color: var(--page-title-color, #333);
    font-family: var(--page-title-font-family, inherit);
    line-height: 1.2;
    font-size: 3.5rem;
    font-weight: 300;
    margin-block: 0;
    margin-inline: 0;
  }

  & &__description {
    font-size: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 1rem;
    margin-inline: 0;
  }
}
