.tabs {
  border-block-end: solid 1px var(--tabs-border-color);

  & &__list {
    display: flex;
    column-gap: 0;
    justify-content: center;
    list-style: none;
    border-block-end: solid 1px var(--tabs-border-color);
    padding: 0;
    margin: 0;
  }

  & &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: solid 1px transparent;
    cursor: pointer;
    color: var(--tabs-item-color, var(--link-color));

    margin-block-end: -1px;
    border-block-end-color: var(--tabs-border-color);

    &:hover {
      color: var(--tabs-item-hover-color, var(--link-color-hover));
      border-block-start-color: var(--tabs-item-hover-border-color);
      border-inline-start-color: var(--tabs-item-hover-border-color);
      border-inline-end-color: var(--tabs-item-hover-border-color);
      text-decoration: underline;
      text-underline-offset: 0.4rem;
    }

    &--active,
    &--active:hover {
      border-block-start-color: var(--tabs-border-color);
      border-block-end-color: #ffffff;
      border-inline-start-color: var(--tabs-border-color);
      border-inline-end-color: var(--tabs-border-color);
    }
  }

  & &__pane {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }
}
