.landing-page {
  & &__nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    inline-size: clamp(400px, 50%, 800px);
    margin-inline: auto;
    margin-block-start: 2rem;
  }
}
