{% load static %}<!DOCTYPE html>
<html lang="en" class="view {% block view_class %}view--{% if request.resolver_match.namespaces %}{{ request.resolver_match.namespaces|join:'-' }}-{% endif %}{{ request.resolver_match.url_name }}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ settings.PROJECT_NAME }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'ico/favicon.svg' %}" sizes="any" rel="icon" type="image/svg+xml" />
        <link href="{% static 'ico/favicon-96x96.png' %}" sizes="96x96" rel="icon" type="image/png" />
        <link href="{% static 'ico/favicon-32x32.png' %}" sizes="32x32" rel="icon" type="image/png" />
        <link href="{% static 'ico/favicon.png' %}" sizes="16x16" rel="icon" type="image/png" />
        <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
        <link href="{% static 'bundles/woo-search-css.css' %}" media="all" rel="stylesheet" />
        {% block extra_css %}{% endblock %}
    </head>

    <body class="view__body">
        {% include "includes/header.html" %}

        <main class="view__main">
            {% block content %}
                Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
                to get some actual content.
            {% endblock %}
        </main>

        {% include "includes/footer.html" %}
        
        {% if dsn %}
            <script src="https://browser.sentry-cdn.com/5.10.1/bundle.min.js" integrity="sha384-sAOze6ZTBIpiWBF3VlUteSInM4rYpjxrejp1wMmmKqA9clRZ1vZJ36Ihmt1ilTrG" crossorigin="anonymous"></script>
            <script>Sentry.init({ dsn: '{{ dsn }}'});</script>
        {% endif %}
        <script src="{% static 'bundles/woo-search-js.js' %}"></script>

    </body>
</html>
